  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="user_form">
        <form>
          <fieldset>
            <div class="form-group">
              <h3><%= form.label :name, '名前' %></h3>
              <%= form.text_field :name, :class => 'form-control' %>
            </div>
            <br>

            <div class="form-group">
              <h3><%= form.label :email %></h3>
              <%= form.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control' %>
            </div>
            <br>

            <div class="form-group">
              <h3><%= form.label :support_team, '応援チーム' %></h3>
              <%= form.select :support_team,["北海道コンサドーレ札幌","ヴァンラーレ八戸","いわてグルージャ盛岡",
                                              "ブラウブリッツ秋田","モンテディオ山形","ベガルタ仙台",
                                              "福島ユナイテッドFC","水戸ホーリーホック","栃木SC",
                                              "鹿島アントラーズ","浦和レッズ","大宮アルディージャ",
                                              "ジェフユナイテッド千葉","柏レイソル","FC東京",
                                              "東京ヴェルディ","FC町田ゼルビア","川崎フロンターレ",
                                              "横浜F・マリノス","横浜FC","Y.S.C.C.横浜",
                                              "湘南ベルマーレ","SC相模原","ザスパクサツ群馬",
                                              "ヴァンフォーレ甲府","松本山雅FC","AC長野パルセイロ",
                                              "カターレ富山","アルビレックス新潟","ツエーゲン金沢",
                                              "FC岐阜","清水エスパルス","ジュビロ磐田","藤枝MYFC",
                                              "アスルクラロ沼津","名古屋グランパス","京都サンガF.C.",
                                              "ガンバ大阪","セレッソ大阪","ヴィッセル神戸",
                                              "ファジアーノ岡山","ガイナーレ鳥取","サンフレッチェ広島",
                                              "レノファ山口FC","カマタマーレ讃岐","徳島ヴォルティス",
                                              "愛媛FC","アビスパ福岡","ギラヴァンツ北九州",
                                              "サガン鳥栖","V・ファーレン長崎","大分トリニータ",
                                              "ロアッソ熊本","鹿児島ユナイテッドFC","FC琉球"], {:prompt => "選択してください"},
                                              {:class => 'form-control', :id => 'exampleSelect1'} %>
            </div>
            <br>

            <div class="form-group">
              <h3><%= form.label :support_history %></h3>
              <div class="form-inline">
              <%= form.number_field :support_history,min:0,max:100,step:1, :class => 'form-control' %>年
            </div>
            </div>
            <br>

            <div class="form-group">
              <h3><%= form.label :introduce, '自己紹介' %></h3>
              <%= form.text_field :introduce, class: "form_text" %>
            </div>
            <br>

            <div class="form-group">
              <h3><%= form.label :icon %></h3>
              <%= form.file_field :icon %>
            </div>
            <br>

            <div class="form-group">
              <h3><%= form.label :password %></h3>
              <%= form.password_field :password, autocomplete: "new-password", :class => 'form-control' %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
            <br>

            <div class="form-group">
              <h3><%= form.label :password_confirmation %></h3>
              <%= form.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control' %>
            </div>
            <br>
            <!-- 確認パスワードの要求を消してみた -->
              <!-- <div class="field">
                <%= form.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= form.password_field :current_password, autocomplete: "current-password" %>
              </div> -->

            <div class="row center-block text-center">
              <div class="col-1">
              </div>
              <div class="col-5">
                <input type="button" onclick="history.back()" value="戻る" class="btn btn-outline-secondary btn-block">
              </div>
              <div class="col-5">
                  <% if @user.new_record? %>
                    <button type="submit" class="btn btn-outline-primary btn-block">登録する</button>
                  <% else %>
                    <button type="submit" class="btn btn-outline-primary btn-block">編集する</button>
                  <% end %>
              </div>
            </div>
          </fieldset>
        </form>
  </div>
<% end %>
