<%= devise_error_messages %>
<h2 class="top"><%= t('views.messages.edit') %></h2>
<div class="acount-delete">
  <%= button_to t('views.messages.acount-delete'), registration_path(resource_name), data: { confirm: t('views.messages.really-delete') }, method: :delete, class: 'btn btn-danger delete-btn' %>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%#= render "devise/shared/error_messages", resource: resource %>
<div class="user_form">
  <form>
    <div class="form-group">
      <h3><%= f.label :name, t('views.messages.name') %></h3>
          <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <h3><%= f.label :email, t('views.messages.email') %></h3>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>
    <div class="form-group">
      <h3><%= f.label :support_team, t('views.messages.support_team') %></h3>
          <%= f.select :support_team,["北海道コンサドーレ札幌","ヴァンラーレ八戸","いわてグルージャ盛岡",
                                          "ブラウブリッツ秋田","モンテディオ山形","ベガルタ仙台",
                                          "福島ユナイテッドFC","水戸ホーリーホック","栃木SC",
                                          "鹿島アントラーズ","浦和レッズ","大宮アルディージャ",
                                          "ジェフユナイテッド千葉","柏レイソル","FC東京",
                                          "東京ヴェルディ","FC町田ゼルビア","川崎フロンターレ",
                                          "横浜F・マリノス","横浜FC","Y.S.C.C.横浜",
                                          "湘南ベルマーレ","SC相模原","ザスパクサツ群馬",
                                          "ヴァンフォーレ甲府","松本山雅FC","AC長野パルセイロ",
                                          "カターレ富山","アルビレックス新潟","ツエーゲン金沢",
                                          "FC岐阜","清水エスパルス","ジュビロ磐田","藤枝MYFC",
                                          "アスルクラロ沼津","名古屋グランパス","京都サンガF.C.",
                                          "ガンバ大阪","セレッソ大阪","ヴィッセル神戸",
                                          "ファジアーノ岡山","ガイナーレ鳥取","サンフレッチェ広島",
                                          "レノファ山口FC","カマタマーレ讃岐","徳島ヴォルティス",
                                          "愛媛FC","アビスパ福岡","ギラヴァンツ北九州",
                                          "サガン鳥栖","V・ファーレン長崎","大分トリニータ",
                                          "ロアッソ熊本","鹿児島ユナイテッドFC","FC琉球"], {prompt: t('views.messages.choice')},
                                          {class: 'form-control', id: 'exampleSelect1'} %>
      </div>
      <div class="form-group">
        <h3><%= f.label :support_history, t('views.messages.support_history') %></h3>
        <div class="form-inline">
            <%= f.number_field :support_history,min:0,max:100,step:1, class: 'form-control' %>年
        </div>
      </div>
      <div class="form-group">
        <h3><%= f.label :introduce, t('views.messages.introduce') %></h3>
            <%= f.text_area :introduce, class: "form_text" %>
      </div>
      <div class="form-group">
        <h3><%= f.label :icon, t('views.messages.icon') %></h3>
            <%= f.file_field :icon %>
      </div>
          <!-- <div class="form-group">
            <h3><%= f.label :password %></h3>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %><%= t('views.messages.characters-minimum') %></em>
            <% end %>
          </div>
          <br>
          <div class="form-group">
            <h3><%= f.label :password_confirmation %></h3>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>
          <br> -->
          <!-- <div class="form-group">
            <h3><%#= f.label :current_password %></h3>
            <%#= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
          </div> -->
      <div class="row center-block text-center">
        <div class="col-1">
        </div>
        <div class="col-5">
          <input type="button" onclick="history.back()" value=<%= t('views.messages.back') %> class="btn btn-outline-secondary btn-block">
        </div>
        <div class="col-5">
          <% if @user.new_record? %>
            <button type="submit" class="btn btn-outline-primary btn-block"><%= t('views.messages.register') %></button>
          <% else %>
            <button type="submit" class="btn btn-outline-primary btn-block"><%= t('views.messages.edit') %></button>
          <% end %>
        </div>
      </div>
  </form>
</div>
<% end %>
<%#= render 'form' %>
<%#= link_to "Back", :back %>
