<h2 class="top"><%= t('views.messages.profile') %></h2>
<div class="card" style="width: 25rem;">
  <% if @user.icon? %>
    <%= image_tag @user.icon.thumb.url, class: "card-img-top" %>
  <% else %>
    <%= image_tag 'football.jpg', class: "card-img-top" %>
  <% end %>
  <div class="card-body">
    <h3 class="card-title"><%= @user.name %></h3>
    <div class="profile_support_team"><span><%= t('views.messages.cheering_team') %></span></div>
    <p><%= @user.support_team %></p>
    <div class="profile_support_history"><span><%= t('views.messages.support_history') %></span></div>
    <p><%= @user.support_history %>年</p>

    <div class="profile_introduce"><span><%= t('views.messages.introduce') %></span></div>
    <p><%= @user.introduce %></p>

    <div class="organizer_event"><span><%= t('views.messages.organizer_event') %></span></div>
      <% if @user.events.count == 0 %>
        <p><%= t('views.messages.not_organizer') %></p>
        <p><%= link_to t('views.messages.new_event'), new_event_path, class: 'btn btn-danger' %></p>
      <% else %>
        <% @user.events.order(day: :asc).each do |event| %>
          <div>
            <%= event.day.strftime("%Y年%m月%d日") %>
            <p><%= link_to event.title, event_path(event) %>  <%= t('views.messages.participant_count') %><%= event.participant_managements.count %>人</p>
          </div>
        <% end %>
      <% end %>

    <div class="participant_event"><span><%= t('views.messages.participant_event') %></span></div>
      <% if @user.participant_events.count == 0 %>
        <p><%= t('views.messages.not_participant') %></p>
      <% else %>
        <% @user.participant_events.order(day: :asc).each do |event| %>
          <div>
            <%= event.day.strftime("%Y年%m月%d日") %>
            <p><%= link_to event.title, event_path(event) %>  <%= t('views.messages.participant_count') %><%= event.participant_managements.count %>人</p>
          </div>
        <% end %>
      <% end %>

    <br>
    <% if @user.id ==  current_user.id %>
      <%= link_to t('views.messages.edit'), edit_user_registration_path(@user.id), class: 'btn btn-success' %>
    <% end %>
    <% unless @user.id ==  current_user.id %>
      <%= link_to t('views.messages.send_message'), conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

<div class="card" style="width: 30rem;">
<div class="card-body">
<div class="same_supporter_event"><span>他ユーザーが作成した<%= @user.support_team %>のイベント</span></div>
<% @events.each do |event| %>
 <% unless event.organizer_id == current_user.id %>
  <p><%= link_to event.title, event_path(event) %></p>
 <% end %>
<% end %>

<div class="same_supporter"><span>最近登録した<%= @user.support_team %>サポーターのユーザー</span></div>
<% @users.each do |user| %>
 <% unless user.id == @user.id %>
   <p><%= link_to user.name, user_path(user) %></p>
 <% end %>
<% end %>
</div>
</div>