
<div class="profile_header"><h2>プロフィール</h2></div>

<div class="profile-container">
  <% if @user.icon? %>
    <%= image_tag @user.icon.thumb.url, :class => "image-to-circl" %>
  <% else %>
    <%= image_tag 'football.jpg', :class => "image-to-circl" %>
  <% end %>

  <div class="profile-content-wrapper">
    <h3 class="profile_name"><%= @user.name %></h3>
    <h3>応援チーム</h3>
    <p class="profile_support_team"><%= @user.support_team %></p>
    <h3>サポーター歴</h3>
    <p class="profile_support_history"><%= @user.support_history %>年</p>
  </div>
</div>

  <div class="profile-content-introduce">
    <h3>自己紹介</h3>
    <p class="profile_introduce"><%= @user.introduce %></p>
  </div>

  <div class="row center-block text-center">
    <div class="col-1">
    </div>
    <div class="col-5">
      <input type="button" onclick="history.back()" value="戻る" class="btn btn-outline-secondary btn-block">
    </div>
    <div class="col-5">
      <div class="btn btn-outline-success btn-block">
        <%= link_to '編集', edit_user_registration_path(@user.id) %>
      </div>
    </div>
  </div>
