<div class="confirm_form">
<%= form_with(model: @event, local: true, url: confirm_new_or_edit, method: confirm_form_method) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :day %>
  <%= form.hidden_field :place %>
  <%= form.hidden_field :cheering_team %>
  <%= form.hidden_field :content %>

  <% @event.tags.map(&:id).each do |id| %>
    <%= hidden_field_tag "event[tag_ids][]", id %>
  <% end %>

  <div class="card border-dark mb-3">
    <div class="card-header"><h2><%= @event.title %></h2></div>
    <div class="card-body">
      <h3><%= t('views.messages.cheering_team') %></h3>
      <p class="card-text"><%= @event.cheering_team %></p>
      <br>
      <h3><%= t('views.messages.kickoff') %></h3>
      <p class="card-text"><%= @event.day.strftime("%Y年%m月%d日") %></p>
      <br>
      <h3><%= t('views.messages.place') %></h3>
      <p class="card-text"><%= @event.place %></p>
      <br>
      <h3><%= t('views.messages.content') %></h3>
      <p class="card-text"><%= @event.content %></p>
      <br>
      <% @event.tags.each do |tag| %>
        <div class="tag">
          <%= tag.title %>
        </div>
      <% end %>
    </div>
  </div>

<p><%= t('views.messages.recruit') %></p>

<div class="row center-block text-center">
    <div class="col-1">
    </div>
    <div class="col-5">
      <input type="button" onclick="history.back()" value=<%= t('views.messages.back') %> class="btn btn-outline-secondary btn-block">
    </div>
    <div class="col-5">
      <button type="submit" class="btn btn-outline-primary btn-block"><%= t('views.messages.register') %> </button>
    </div>
</div>
<% end %>
</div>
