<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @event, url: events_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :day %>
  <%= form.hidden_field :place %>
  <%= form.hidden_field :cheering_team %>
  <%= form.hidden_field :content %>

  <p>タイトル:<%= @event.title %></p>
  <p>キックオフ:<%= @event.day %></p>
  <p>スタジアム:<%= @event.place %></p>
  <p>応援チーム:<%= @event.cheering_team %></p>

  <%= form.submit  "登録する" %>

  <%= form.submit "戻る", name: 'back' %>
<% end %>
