<div class="event_img">
  <div class="header_img">
    <%= image_tag 'stadium.jpg',:width => '100%', :height => '500' %>
    <a href="http://localhost:3000/events/new"><i class="far fa-futbol" ></i> Enjoy Soccer</a>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- <div class="page-header">
      </div> -->
      <div class="bs-component">
        <div class="jumbotron">
          <h1 class="display-3">サカトモの輪</h1>
          <p class="lead">サッカー観戦をしたいけど、一人じゃ面白くない！同じチームを応援するサポーター同士の絆を深めよう！</p>
          <hr class="my-4">
          <p>小さな勇気が仲間を増やす第一歩！</p>
          <p class="lead">
            <%= link_to("サッカー仲間を募集する", new_event_path, {class: "btn btn-primary btn-lg"}) %>
          </p>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <%= image_tag 'syosinsya.jpg', :width => '100%', :height => '100%' %>
          <div class="card-body">
            <h4 class="card-title">初心者歓迎</h4>
            <p class="card-text">サッカー初心者だけどスタジアム観戦に興味ある人向けの募集です。</p>
            <form action="/" method="get">
              <input type="submit" name="syosinsya" class="btn btn-primary" value="詳細を見る">
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <%= image_tag 'woman_supporter.jpg', :width => '100%', :height => '100%' %>
          <div class="card-body">
            <h4 class="card-title">女性限定</h4>
            <p class="card-text">サッカー女子仲間を作りたい人向けの募集です。</p>
            <form action="/" method="get">
              <input type="submit" name="woman_supporter" class="btn btn-primary" value="詳細を見る">
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <%= image_tag 'small_group.jpg', :width => '100%', :height => '100%' %>
          <div class="card-body">
            <h4 class="card-title">少人数</h4>
            <p class="card-text">サッカー仲間を作りたいけど大勢は苦手な人向けの募集です。</p>
            <form action="/" method="get">
              <input type="submit" name="small_group" class="btn btn-primary" value="詳細を見る">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<div id="contents">
  <h2 class="top">募集一覧</h2>
  <div class="search">
  <%= form_with(method: :get, url: events_path, local: true) do |f| %>
    <%= f.select :cheering_team,["北海道コンサドーレ札幌","ヴァンラーレ八戸","いわてグルージャ盛岡",
                                  "ブラウブリッツ秋田","モンテディオ山形","ベガルタ仙台",
                                  "福島ユナイテッドFC","水戸ホーリーホック","栃木SC",
                                  "鹿島アントラーズ","浦和レッズ","大宮アルディージャ",
                                  "ジェフユナイテッド千葉","柏レイソル","FC東京",
                                  "東京ヴェルディ","FC町田ゼルビア","川崎フロンターレ",
                                  "横浜F・マリノス","横浜FC","Y.S.C.C.横浜",
                                  "湘南ベルマーレ","SC相模原","ザスパクサツ群馬",
                                  "ヴァンフォーレ甲府","松本山雅FC","AC長野パルセイロ",
                                  "カターレ富山","アルビレックス新潟","ツエーゲン金沢",
                                  "FC岐阜","清水エスパルス","ジュビロ磐田","藤枝MYFC",
                                  "アスルクラロ沼津","名古屋グランパス","京都サンガF.C.",
                                  "ガンバ大阪","セレッソ大阪","ヴィッセル神戸",
                                  "ファジアーノ岡山","ガイナーレ鳥取","サンフレッチェ広島",
                                  "レノファ山口FC","カマタマーレ讃岐","徳島ヴォルティス",
                                  "愛媛FC","アビスパ福岡","ギラヴァンツ北九州",
                                  "サガン鳥栖","V・ファーレン長崎","大分トリニータ",
                                  "ロアッソ熊本","鹿児島ユナイテッドFC","FC琉球"], {prompt: '選択してください'},
                                  {class: 'form-control'} %>
    <div class="search_btn">
      <button type="submit" class="btn btn-primary">チーム名で検索</button>
    </div>
  <% end %>
  </div>


  <div class="container">
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-img-top">
              <% if event.organizer.icon? %>
                <%#= image_tag @user.icon.url %>
              <% else %>
                <%#= image_tag 'soccer_ball.jpg', :width => '100%', :height => '100%' %>
              <% end %>
            </div>
              <div class="event-index">
                <div class="card-body">
                  <h3 class="card-title"><%= event.title %></h3>
                </div>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">【応援チーム】<span class="space"><%= event.cheering_team %></span></li>
                <li class="list-group-item">【キックオフ】<span class="space"><%= event.day.strftime('%Y年%m月%d日') %></span></li>
                <li class="list-group-item">【スタジアム】<span class="space"><%= event.place %></span></li>
              </ul>
              <div class="card-body">
                <div class="card-link"><%= link_to '詳細', event_path(event.id), class: "btn btn-primary" %></div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <%= paginate @events %>
  </div>

      <h2 class="top">人気募集ランキング</h2>
        <% @all_ranks.each.with_index(1) do |event, i| %>
          <div class="ranking">
              <div class="order">
                <span class="icon_size"><i class="far fa-futbol"></i></span><span class="ranking_font"><%= "第#{i}位" %></span>
              </div>
              <div class="ranking_content">
                <div class="title_content">
                  <p>【タイトル】<span class="space"><%= event.title %></span></p>
                </div>
                <div class="cheering_content">
                  <p>【応援チーム】<span class="space"><%= event.cheering_team %></span></p>
                </div>
                <div class="day_content">
                  <p>【キックオフ】<span class="space"><%= event.day.strftime('%Y年%m月%d日') %></span></p>
                </div>
                <div class="place_content">
                  <p>【スタジアム】<span class="space"><%= event.place %></span></p>
                </div>
                <div class="ranking_btn">
                  <div class="card-link"><%= link_to '詳細', event_path(event.id), class: "btn btn-primary" %></div>
                </div>
              </div>
          </div>
        <% end %>
</div>
