<% @events.each do |event| %>
  <article >
    <span class="date"><%= event.created_at.strftime('%Y/%m/%d') %></span>
    <h1><%= "#{event.organizer.name}さんの投稿" %></h1>
    <ul>
      <li class="content"><%= event.content %></li>
      <li>
        <div class="btn">
          <%= link_to '詳細', event_path(event.id) %>
        </div>
      </li>
      <li>
        <td class="btn">
          <%= link_to '削除', event_path(event.id), method: :delete %>
        </td>
      </li>
    </ul>
  </article>
<% end %>
