<div class="header_img">
  <%= image_tag 'stadium.jpg',:width => '100%', :height => '500' %>
  <a href="http://localhost:3000/events/new"><i class="far fa-futbol" ></i> Enjoy Soccer</a>
</div>

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <!-- <h1 id="containers">Containers</h1> -->
      </div>
      <div class="bs-component">
        <div class="jumbotron">
          <h1 class="display-3">サカトモの輪</h1>
          <p class="lead">サッカー観戦をしたいけど、一人じゃ面白くない！同じチームを応援するサポーター同士の絆を深めよう！</p>
          <hr class="my-4">
          <p>小さな勇気が仲間を増やす第一歩！</p>
          <p class="lead">
            <%= link_to("サッカー仲間を募集する", new_event_path, {class: "btn btn-primary btn-lg"}) %>
          </p>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <%= image_tag 'syosinsya.jpg', :width => '100%', :height => '100%' %>
          <div class="card-body">
            <h4 class="card-title">初心者歓迎</h4>
            <p class="card-text">サッカー初心者だけどスタジアム観戦に興味ある人向けの募集です。</p>
            <form action="/" method="get">
              <input type="submit" name="syosinsya" class="btn btn-primary" value="詳細を見る">
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <%= image_tag 'woman_supporter.jpg', :width => '100%', :height => '100%' %>
          <div class="card-body">
            <h4 class="card-title">女性限定</h4>
            <p class="card-text">サッカー女子仲間を作りたい人向けの募集です。</p>
            <form action="/" method="get">
              <input type="submit" name="woman_supporter" class="btn btn-primary" value="詳細を見る">
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <%= image_tag 'small_group.jpg', :width => '100%', :height => '100%' %>
          <div class="card-body">
            <h4 class="card-title">少人数</h4>
            <p class="card-text">サッカー仲間を作りたいけど大勢は苦手な人向けの募集です。</p>
            <form action="/" method="get">
              <input type="submit" name="small_group" class="btn btn-primary" value="詳細を見る">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<div id="contents">
      <h2>新着記事</h2>
<%= form_with(method: :get, url: events_path, local: true) do |f| %>
  <%= f.label :support_team, t('view.support_team') %>
  <%= f.select :cheering_team,["北海道コンサドーレ札幌","ヴァンラーレ八戸","いわてグルージャ盛岡",
                                  "ブラウブリッツ秋田","モンテディオ山形","ベガルタ仙台",
                                  "福島ユナイテッドFC","水戸ホーリーホック","栃木SC",
                                  "鹿島アントラーズ","浦和レッズ","大宮アルディージャ",
                                  "ジェフユナイテッド千葉","柏レイソル","FC東京",
                                  "東京ヴェルディ","FC町田ゼルビア","川崎フロンターレ",
                                  "横浜F・マリノス","横浜FC","Y.S.C.C.横浜",
                                  "湘南ベルマーレ","SC相模原","ザスパクサツ群馬",
                                  "ヴァンフォーレ甲府","松本山雅FC","AC長野パルセイロ",
                                  "カターレ富山","アルビレックス新潟","ツエーゲン金沢",
                                  "FC岐阜","清水エスパルス","ジュビロ磐田","藤枝MYFC",
                                  "アスルクラロ沼津","名古屋グランパス","京都サンガF.C.",
                                  "ガンバ大阪","セレッソ大阪","ヴィッセル神戸",
                                  "ファジアーノ岡山","ガイナーレ鳥取","サンフレッチェ広島",
                                  "レノファ山口FC","カマタマーレ讃岐","徳島ヴォルティス",
                                  "愛媛FC","アビスパ福岡","ギラヴァンツ北九州",
                                  "サガン鳥栖","V・ファーレン長崎","大分トリニータ",
                                  "ロアッソ熊本","鹿児島ユナイテッドFC","FC琉球"], {prompt: '選択してください'},
                                  {class: 'form-control'} %>
  <%= f.submit '検索' %>
<% end %>

</div>


    <div class="container">

      <div class="row">

  <% @events.each do |event| %>
  <div class="col-lg-4">
  <div class="card" style="width: 20rem;">
  <div class="card-img-top">
    <% if event.organizer.icon? %>
      <%#= image_tag @user.icon.url %>
    <% else %>
      <%= image_tag 'soccer_ball.jpg', :width => '100%', :height => '100%' %>
    <% end %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= event.title %></h5>
    <p class="card-text"><%= event.content %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= event.cheering_team %></li>
    <li class="list-group-item"><%= event.place %></li>
    <li class="list-group-item"><%= event.day.strftime('%Y/%m/%d') %></li>
  </ul>
  <div class="card-body">
    <div class="card-link"><%= link_to '詳細', event_path(event.id) %></div>
  </div>
  </div>
  </div>
  <% end %>
</div>
<br>
<%= paginate @events %>
</div>
