  <div class="header_img">
    <%= image_tag 'stadium.jpg', width: '100%', height: '500' %>
    <%= link_to "Enjoy Soccer", new_event_path %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="bs-component">
        <div class="jumbotron">
          <h1 class="display-3"><%= t('views.messages.ring') %></h1>
          <p class="lead"><%= t('views.messages.soccer_message') %></p>
          <hr class="my-4">
          <p><%= t('views.messages.one_step') %></p>
          <p class="lead">
            <%= link_to(t('views.messages.recruitment'), new_event_path, {class: "btn btn-primary btn-lg"}) %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <%= image_tag 'syosinsya.jpg', width: '100%', height: '100%' %>
          <div class="card-body">
            <h3 class="card-title"><i class="fab fa-medapps"></i> <%= t('views.messages.beginner') %></h3>
            <p class="card-text"><%= t('views.messages.beginner_message') %></p>
            <form action="/" method="get">
              <input type="submit" name="syosinsya" class="btn btn-primary begginer" value=<%= t('views.messages.beginner_search') %>>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <%= image_tag 'woman_supporter.jpg', width: '100%', height: '100%' %>
          <div class="card-body">
            <h3 class="card-title"><i class="fab fa-medapps"></i> <%= t('views.messages.woman_only') %></h3>
            <p class="card-text"><%= t('views.messages.woman_message') %></p>
            <form action="/" method="get">
              <input type="submit" name="woman_supporter" class="btn btn-primary" value=<%= t('views.messages.woman_search') %>>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <%= image_tag 'small_group.jpg', width: '100%', height: '100%' %>
          <div class="card-body">
            <h3 class="card-title"><i class="fab fa-medapps"></i> <%= t('views.messages.small_group') %></h3>
            <p class="card-text"><%= t('views.messages.small_message') %></p>
            <form action="/" method="get">
              <input type="submit" name="small_group" class="btn btn-primary" value=<%= t('views.messages.small_search') %>>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="top"><i class="far fa-futbol" ></i> <%= t('views.messages.index') %></h2>
  <div class="search">
    <%= form_with(method: :get, url: events_path, local: true, class: "team_search") do |f| %>
      <%= f.select :cheering_team,["北海道コンサドーレ札幌","ヴァンラーレ八戸","いわてグルージャ盛岡",
                                  "ブラウブリッツ秋田","モンテディオ山形","ベガルタ仙台",
                                  "福島ユナイテッドFC","水戸ホーリーホック","栃木SC",
                                  "鹿島アントラーズ","浦和レッズ","大宮アルディージャ",
                                  "ジェフユナイテッド千葉","柏レイソル","FC東京",
                                  "東京ヴェルディ","FC町田ゼルビア","川崎フロンターレ",
                                  "横浜F・マリノス","横浜FC","Y.S.C.C.横浜",
                                  "湘南ベルマーレ","SC相模原","ザスパクサツ群馬",
                                  "ヴァンフォーレ甲府","松本山雅FC","AC長野パルセイロ",
                                  "カターレ富山","アルビレックス新潟","ツエーゲン金沢",
                                  "FC岐阜","清水エスパルス","ジュビロ磐田","藤枝MYFC",
                                  "アスルクラロ沼津","名古屋グランパス","京都サンガF.C.",
                                  "ガンバ大阪","セレッソ大阪","ヴィッセル神戸",
                                  "ファジアーノ岡山","ガイナーレ鳥取","サンフレッチェ広島",
                                  "レノファ山口FC","カマタマーレ讃岐","徳島ヴォルティス",
                                  "愛媛FC","アビスパ福岡","ギラヴァンツ北九州",
                                  "サガン鳥栖","V・ファーレン長崎","大分トリニータ",
                                  "ロアッソ熊本","鹿児島ユナイテッドFC","FC琉球"], {prompt: t('views.messages.choice')},
                                  {class: 'form-control'} %>
      <div class="search_btn">
        <button type="submit" class="btn btn-primary"><%= t('views.messages.team_search') %></button>
      </div>
    <% end %>

      <%= search_form_for(@q, class: "kickoff_search") do |f| %>
          <%= raw sprintf(
              f.date_select(
                :day_eq,
              {
                start_year: Time.zone.now.year,# 選択可能な開始年
                end_year:   Time.zone.now.next_year.year,# 選択可能な終了年
                use_two_digit_numbers: true,# 月日を2桁の値で表示
                date_separator: '%s',# 年, 月
                datetime_separator: '%s',# 日
                # time_separator: '%s'# 時
              },# オプション
              { class: 'form-control-sm' }# htmlオプションを指定する場合は別で指定
              ),
              '年 ', '月 ') + '日'# 日 は最後につけ加えられる
          %>
      <div class="search_btn"><%= f.submit t('views.messages.day_search'), class: "btn btn-primary" %></div>
    <% end %>
  </div>

  <div class="container">
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-img-top">
              <% if event.organizer.icon? %>
                <%#= image_tag @user.icon.url %>
              <% else %>
                <%#= image_tag 'soccer_ball.jpg', :width => '100%', :height => '100%' %>
              <% end %>
            </div>
              <div class="event-index">
                <div class="card-body">
                  <h3 class="card-title"><i class="far fa-futbol" ></i> <%= event.title %></h3>
                </div>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">【<%= t('views.messages.support_team') %>】<span class="space"><%= event.cheering_team %></span></li>
                <li class="list-group-item">【<%= t('views.messages.kickoff') %>】<span class="space"><%= event.day.strftime('%Y年%m月%d日') %></span></li>
                <li class="list-group-item">【<%= t('views.messages.place') %>】<span class="space"><%= event.place %></span></li>
              </ul>
              <div class="card-body">
                <div class="card-link"><%= link_to t('views.messages.details'), event_path(event.id), class: "btn btn-primary" %></div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <%= paginate @events %>
  </div>

  <h2 class="top"><i class="fas fa-trophy"></i> <%= t('views.messages.ranking') %></h2>
    <div class="container">
      <div class="row">
        <% @all_ranks.each.with_index(1) do |event, i| %>
          <div class="col-lg-12">
            <div class="ranking">
              <div class="order">
                <span class="icon_size"></span><span class="ranking_font"><%= "第#{i}位" %></span>
              </div>
              <div class="ranking_content">
                <div class="title_content">
                  <p>【<%= t('views.messages.title') %>】<span class="space"><%= event.title %></span></p>
                </div>
                <div class="cheering_content">
                  <p>【<%= t('views.messages.support_team') %>】<span class="space"><%= event.cheering_team %></span></p>
                </div>
                <div class="day_content">
                  <p>【<%= t('views.messages.kickoff') %>】<span class="space"><%= event.day.strftime('%Y年%m月%d日') %></span></p>
                </div>
                <div class="place_content">
                  <p>【<%= t('views.messages.place') %>】<span class="space"><%= event.place %></span></p>
                </div>
                <div class="ranking_btn">
                  <div class="card-link"><%= link_to t('views.messages.details'), event_path(event.id), class: "btn btn-primary" %></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
