<h1><%= t('view.details') %></h1>


<div class="card border-dark mb-3" style="max-width: 30rem;">
  <div class="card-header">
    <h2><%= @event.title %></h2>
    <%= link_to '編集', edit_event_path, class: 'btn btn-success' %>
    <%= link_to '削除', @event, method: :delete, data: { confirm: '削除してよろしいですか？' }, class: 'btn btn-danger' %>
  </div>
  <div class="card-body">
    <h3>キックオフ</h3>
    <p class="card-text"><%= @event.day.strftime("%Y-%m-%d %H:%M") %></p>
    <br>
    <h3>スタジアム</h3>
    <p class="card-text"><%= @event.place %></p>
    <br>
    <h3>応援チーム</h3>
    <p class="card-text"><%= @event.cheering_team %></p>
    <br>
    <h3>募集内容</h3>
    <p class="card-text"><%= @event.content %></p>
    <br>
    <% @event.tags.each do |tag| %>
      <%= tag.title %>
    <% end %>
    <br>
    <% unless @event.organizer_id == current_user.id %>
      <% if @participant_management.present? %>
        <%= link_to 'イベントをキャンセルする', participant_management_path(id: @participant_management.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'イベントに参加する', participant_managements_path(event_id: @event.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>

<p><%= '参加者一覧' %></p>
<% @event_participant_users.each do |event_participant_user| %>
  <ul>
    <li>
      <%= event_participant_user.name %>
      <% if event_participant_user.id != current_user.id %>
        <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: event_participant_user.id), method: :post %>
      <% end %>
    </li>
  </ul>
<% end %>

<input type="button" onclick="history.back()" value="戻る" class="btn btn-outline-secondary">
