<h2 class="top"><%= t('views.messages.login') %></h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
<div class="user_form">
  <form>
      <div class="form-group">
        <%= form.label :email %>
        <%= form.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :password %>
        <%= form.password_field :password, autocomplete: "new-password", class: 'form-control' %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
      </div>
      <!-- <div class="form-group"> -->
        <%#= form.label :password_confirmation %>
        <%#= form.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control' %>
      <!-- </div> -->
      <!-- <br> -->
      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= form.check_box :remember_me %>
          <%= form.label :remember_me %>
        </div>
      <% end %>
      <div class="login">
        <div class="login_btn">
          <button type="submit" class="normal_btn"><%= t('views.messages.login') %></button>
        </div>
        <div class="login_btn">
          <%= link_to user_twitter_omniauth_authorize_path, class: "twitter_btn" do %>
            <i class="fab fa-twitter"></i><%= t('views.messages.twitter') %>
          <% end %>
        </div>
        <div class="login_btn">
          <%= link_to t('views.messages.new'), new_user_registration_path, class: "new_btn" %>
        </div>
      </div>
  </form>
</div>
<%#= render "devise/shared/links" %>
<% end %>
