<h1><%= @user.name %> さん！<%= t('views.messages.increase') %></h1>

<h2><%= t('views.messages.title') %>: <%= @event.title %></h2>

<h2><%= t('views.messages.kickoff') %>: <%= @event.day.strftime("%Y年%m月%d日") %></h2>
